include mixins/util

mixin http_req(method)
    section.my-2.p-2.bg-dark.rounded
        h3: code: strong.px-2.py-1.rounded.text-white&attributes(attributes)= method
        if block
            hr.bg-secondary
            block

mixin table(desc, roles, res="N/A", auth="Bearer authentication.")
    table.table.table-dark.table-striped
        tbody
            tr
                td Description
                td=desc
            tr
                td Authentication
                td=auth
            tr
                td Authorized Roles
                td=roles
            tr
                td Response
                td: a.text-white&attributes(attributes)= res

block routes
    section.container.py-3
        +section_title("Routes")#routes
        hr
        //- 
        //- USER ROUTES
        //- 
        article#user.flex-column
            h2: code.text-secondary /user
            +http_req('GET').bg-success
                +table(
                    "Retrieves all users.",
                    "All",
                    "Array of user objects."
                    )(href="#user-obj")

        article#user-me.flex-column
            h2: code.text-secondary /user/me
            +http_req('GET').bg-success
                +table(
                    "Retrieves currently logged in user.",
                    "[user, stand-owner]",
                    "User object."
                    )(href="#user-obj")

            +http_req('PATCH').bg-secondary
                +table(
                    "Updates currently logged in user.",
                    "[user, stand-owner]",
                    "Updated user object"
                    )(href="#user-obj")

            +http_req('DELETE').bg-danger
                +table(
                    "Deletes currently logged in user.",
                    "[user, stand-owner]")

        
        article#user-id.flex-column
            h2: code.text-secondary /user/:id
            +http_req('GET').bg-success
                +table(
                    "Retrieves user with `id`.",
                    "All",
                    "User object."
                    )(href="#user-obj")

        article#user-id-review.flex-column
            h2: code.text-secondary /user/:id/review
            +http_req('GET').bg-success
                +table(
                    "Retrieves all reviews for user with `id`.",
                    "[user, admin]",
                    "Array of review objects."
                    )(href="#review-obj")
            +http_req('POST').bg-warning
                +table(
                    "Creates a review for user with `id`.",
                    "[user, admin]",
                    "Review object."
                    )(href="#review-obj")

        article#user-id-review-reviewId.flex-column
            h2: code.text-secondary /user/:id/review/:reviewId
            +http_req('PATCH').bg-secondary
                +table(
                    "Updates review with `reviewId` for user with `id`.", 
                    "[user, admin]", 
                    "Updated review object."
                    )(href="#review-obj")

            +http_req('DELETE').bg-danger
                +table(
                    "Deletes review with `reviewId` for user with `id`.",
                    "[user, admin]")

        article#user-id-favorite.flex-column
            h2: code.text-secondary /user/:id/favorite/
            +http_req('GET').bg-secondary
                +table(
                    "Retrieves all favorites for user with `id`.", 
                    "All", 
                    "Array of favorite objects."
                    )(href="#favorite-obj")

            +http_req('POST').bg-danger
                +table(
                    "Creates a favorite for user with `id`.",
                    "All",
                    "Favorite object."
                    )(href="#favorite-obj")

        article#user-id-favorite-standId.flex-column
            h2: code.text-secondary /user/:id/favorite/:standId
            +http_req('DELETE').bg-danger
                +table(
                    "Deletes favorite with `standId` for user with `id`.",
                    "All")

        article#user-signup.flex-column
            h2: code.text-secondary /user/signup
            +http_req('POST').bg-warning
                +table(
                    "Creates a new user.",
                    "N/A",
                    "Authentication object",
                    "N/A"
                    )(href="#auth-res")
        
        article#user-login.flex-column
            h2: code.text-secondary /user/login
            +http_req('POST').bg-warning
                +table(
                    "Login as an existing user.",
                    "N/A",
                    "Authentication object",
                    "N/A"
                    )(href="#auth-res")

        //- 
        //- STAND ROUTES
        //- 
        article#stand.flex-column
            h2: code.text-secondary /stand
            +http_req('GET').bg-success
                +table(
                    "Retrieves all stands.",
                    "All",
                    "Array of stand objects."
                    )(href="#stand-obj")

            +http_req('POST').bg-warning
                +table(
                    "Creates a new stand.",
                    "[stand-owner, admin]",
                    "Stand object."
                    )(href="#stand-obj")

        article#stand-id.flex-column
            h2: code.text-secondary /stand/:id
            +http_req('GET').bg-success
                +table(
                    "Retrieves stand with `id`.",
                    "All",
                    "Stand object."
                    )(href="#stand-obj")

            +http_req('DELETE').bg-danger
                +table(
                    "Deletes stand with `id`.",
                    "[stand-owner, admin]",
                    "Stand object."
                    )(href="#stand-obj")